.Extra {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  color: white;
  
  margin: 20px;
  
  flex-direction: column;
  align-items: flex-end;
  
  gap: 16px;
  
  #ballon {

    --theme-color: transparent;
    
    display: grid;
    width: 200px;
    min-height: 20px;
    background: var(--theme-color);
    border-radius: 5px;

    transition: all 0.3s ease-in-out;

    &::after {
      content: '';

      transition: all 0.3s ease-in-out;

      position: absolute;
      bottom: 46px;
      right: 12px;
      z-index: -1;

      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 10px solid var(--theme-color);
    }
  }
  
  #ballon #options {
    margin: 10px 0;

    hr { 
      color: white;
      margin: 10px 0;
    }
  }
  
  #extra-button {
    height: 40px;
    width: 40px;

    border: none;
    border-radius: 50%;

    background: black;
    color: white;

    font-size: 1.5rem;

    cursor: pointer;
  }
}