.Register {
  width: clamp(300px, 95%, 420px);
  height: clamp(300px, 95%, 608px);
  border-radius: 5px;

  background: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24);

  
  .register-content {
    width: 100%;
    min-height: 100px;
    margin: 0 40px;
    
    flex-direction: column;
    gap: 8px;
  }

  .register-content > form {
    flex-direction: column;
    gap: 8px;

    h1 { margin-bottom: 8px; }
  }

  #clicked {
    cursor: pointer;
  }
}