.CreditModal {

  .credit-modal-content { 
    width: 432px;
    height: 320px;

    flex-direction: column;
    gap: 8px;
  }

  .credit-modal-content img {
    width: 137px;
    height: 137px;
    
    border-radius: 50%;
    background: rgb(61, 61, 61);
  }

  .credit-modal-content #socials-medias-links {
    gap: 28px;
    
    .social-media-link { 
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background: black;
      cursor: pointer; 

      img { 
        width: 30px;
        height: 30px;
        background: transparent;
      }
    }
  }
}